.footer-div{
  height: 200px;
  color: white;
  display: flex;
  flex-direction: row;
  max-width:1400px
}

.footer-col{
  padding-bottom: 10px;
}
.footer-col p{
color: rgb(147, 144, 144);
}
.footer-col p:hover{
color: rgb(124, 121, 121);
cursor: pointer;
}